* {
  margin: 0, auto;
}
body {
  background: rgb(34, 195, 47);
  background: linear-gradient(
    100deg,
    rgba(34, 195, 47, 1) 0%,
    rgba(45, 101, 253, 1) 100%
  );
  width: 100vw;
}
header {
  position: absolute;
  margin-top: 0;
  width: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.buttonHeader {
  padding: 20px;
  width: 140px;
  border-radius: 10px;
  border-width: 0;
  margin-left: 130px;
  background-color: blue;
}
a {
  text-decoration: none;
  text-transform: capitalize;
  color: aqua;
}
.a:hover {
  transform: scale(1.2);
  transition: 1s;
}
